.row_cont {
  display : flex;
  align-items : center;
  font-size: 22px !important;
  &.row_server {
    text-align : center;
    justify-content : center;
  }
  &.row_level {
    text-align : center;
    justify-content : center;
  }
  &.row_name {
    padding-left: 25px;
  }
  &.row_img {
    left: 50%;
    transform: translate(-50%, 0);
  }
}