footer {
  line-height: 45px !important;
  height: 50px !important;
  width: 100%;
  color: $color-white;
  background-color: $color-main-part2;
  text-align: center;
  border-top: 5px solid $color-main-darken4;

  .footer-content {
    margin-left: 337px;
    >p {
      font-size: 18px;
      >a {
        color: $color-main-light2;
        font-weight: bold;
        text-shadow: -1px 0 $color-black, 0 1px $color-black, 1px 0 $color-black, 0 -1px $color-black;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  footer .footer-content {
    margin-left: 0;
  }
}