
.al_title {
  color: $color-main;
  font-weight: 500;
  font-size: 2.5rem !important;
  line-height: 3rem !important;
  letter-spacing: normal !important;
  font-family: $font-title !important;
}
.al_text {
  font-size: 1.3rem !important;
  line-height: 1.8rem !important;
}

.dl_title {
  color: $color-main;
  font-weight: 500;
  font-size: 2.5rem !important;
  line-height: 3rem !important;
  letter-spacing: normal !important;
  font-family: $font-title !important;
}

.dl_btn {
  color: $color-white !important;
}