@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

@keyframes blink-effect {
  50% {
    opacity: 0.4;
    color: #f40468;
  }
}

.account_main_container {
  height: 23rem;
}

.account_main_title {
  transition: all 0.5s;
  -webkit-text-stroke: 4px #131313;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 12rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #bcf9ff,
    15px 15px 0px #e0fa98,
    20px 20px 0px #fdd282,
    25px 25px 0px #f40468,
    45px 45px 10px #c0a7ff;
  cursor: pointer;
}

.account_main_title:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}

.account_main_sub_title {
  font-size: 1.3rem;
  color: #c0a7ff;
  text-align: center;
  font-family: "Meta", sans-serif;
  animation: blink-effect 1s step-end infinite;
}

.account_sub_container {
  height: 22rem;
}

.account_sub_title {
  font-size: 1.4rem;
  color: #f861a0;
}

.account_sub_drop {
  font-size: 1.1rem;
  margin-left: 3rem;
  line-height: 3rem;
}

.fred {
  color: #ff2222;
}

.fblue {
  color: #4322ff;
}

.fbold {
  font-weight: bold;
}