@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.main {
  transition: all 0.5s;
  -webkit-text-stroke: 4px #131313;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 12rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #bcf9ff,
    15px 15px 0px #e0fa98,
    20px 20px 0px #fdd282,
    25px 25px 0px #f40468,
    45px 45px 10px #c0a7ff;
  cursor: pointer;
}

.main:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}